# Apply function

La funcino aply nos sirve para aplicar funciones a columnas/filas de nuestro dataframe en pandas

In [2]:
import pandas as pd

In [3]:
df_books = pd.read_csv('bestsellers-with-categories.csv',sep=',',header=0)

Crearemos nuestro funcion que multiplica por 2

In [3]:
def two_times(value):
    return value * 2

In [4]:
df_books['User Rating']

0      4.7
1      4.6
2      4.7
3      4.7
4      4.8
      ...
545    4.9
546    4.7
547    4.7
548    4.7
549    4.7
Name: User Rating, Length: 550, dtype: float64

Apliquemos la funcino a la columna User Rating

In [5]:
df_books['User Rating'].apply(two_times)

0      9.4
1      9.2
2      9.4
3      9.4
4      9.6
      ...
545    9.8
546    9.4
547    9.4
548    9.4
549    9.4
Name: User Rating, Length: 550, dtype: float64

Podemos añadirla como una nueva columna extra a nuestro data frame.

In [6]:
df_books['User Rating 2'] = df_books['User Rating'].apply(two_times)

In [7]:
df_books

,Name,Author,User Rating,Reviews,Price,Year,Genre,User Rating 2
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,9.4
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,9.2
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,9.4
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,9.4
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,9.6
...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction,9.8
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction,9.4
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction,9.4
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction,9.4
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction,9.4

Podemos hacerlo directo con el data frame y con lambdas, muy importante especificar el axis de x

In [10]:
df_books.apply(lambda x: x['User Rating']*3 if x['Genre'] == 'Fiction' else x['User Rating'], axis = 1)

0       4.7
1      13.8
2       4.7
3      14.1
4       4.8
       ...
545    14.7
546     4.7
547     4.7
548     4.7
549     4.7
Length: 550, dtype: float64

In [7]:
df_books.loc[0:10, ['Name']]

IndexError: .iloc requires numeric indexers, got ['Name']