# Funcion Concat

In [2]:
import pandas as pd

La funcion concat realiza la union de dataframes por axis.

Crearemos nuestros dataframes de prueba :)

In [6]:
df1 = pd.DataFrame({
    'A':['A0', 'A1', 'A2','A3'],
    'B':['B0', 'B1', 'B2','B3'],
	'C':['C0', 'C1', 'C2','C3'],
	'D':['D0', 'D1', 'D2','D3']})


df2 = pd.DataFrame({
    'A':['A4', 'A5', 'A6','A7'],
	'B':['B4', 'B5', 'B6','B7'],
	'C':['C4', 'C5', 'C6','C7'],
	'D':['D4', 'D5', 'D6','D7'],
    'F':['D4', 'D5', 'D6','D7']})

Ahora los concatenaremos

In [7]:
pd.concat([df1, df2])

    A   B   C   D    F
0  A0  B0  C0  D0  NaN
1  A1  B1  C1  D1  NaN
2  A2  B2  C2  D2  NaN
3  A3  B3  C3  D3  NaN
0  A4  B4  C4  D4   D4
1  A5  B5  C5  D5   D5
2  A6  B6  C6  D6   D6
3  A7  B7  C7  D7   D7

Pero hay indices repetidos, los eliminaremos

In [5]:
pd.concat([df1, df2], ignore_index=True)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

Si queremos concatenarlos con columnas solo añadiremos el axis = 1 (Axis de columnas)

In [22]:
pd.concat([df1, df2], axis=1)

    A   B   C   D   A   B   C   D   F
0  A0  B0  C0  D0  A4  B4  C4  D4  D4
1  A1  B1  C1  D1  A5  B5  C5  D5  D5
2  A2  B2  C2  D2  A6  B6  C6  D6  D6
3  A3  B3  C3  D3  A7  B7  C7  D7  D7

Para corregir el problemas con las claves de las columnas volvemos a hacer el ignore_index.

In [23]:
pd.concat([df1, df2], ignore_index=True, axis=1)

    0   1   2   3   4   5   6   7   8
0  A0  B0  C0  D0  A4  B4  C4  D4  D4
1  A1  B1  C1  D1  A5  B5  C5  D5  D5
2  A2  B2  C2  D2  A6  B6  C6  D6  D6
3  A3  B3  C3  D3  A7  B7  C7  D7  D7

### Merge

unciona de manera similar a SQL, Left join prioriza la izquierda, Right Join prioriza la derecha, 
Inner Join es la interseccion, y Outer Join es la Union.

In [12]:
left = pd.DataFrame( {'key':['k0', 'k1', 'k2', 'k3'],
 'A':['A0', 'A1', 'A2', 'A3'],
 'B':['B0', 'B1', 'B2', 'B3']
 })

right = pd.DataFrame( {'key':['k0', 'k1', 'k2', 'k3'],
 'C':['A0', 'A1', 'A2', 'A3'],
 'D':['B0', 'B1', 'B2', 'B3']
 })

La funcion merge se encarga de realizar las operaciones de conjuntos sobre los data frames, primeramente veremos la interseccion. Donde nos mostrara los elementos que comparten ambos data frames en la columna key  (Keys que se encuentran en ambos dataframes).

In [13]:
left.merge(right)

  key   A   B   C   D
0  k0  A0  B0  A0  B0
1  k1  A1  B1  A1  B1
2  k2  A2  B2  A2  B2
3  k3  A3  B3  A3  B3

Que pasa si son distintos los keys?. Debemos especificar a pandas estas columnas donde se hara la operacion, pues  de lo contrario devolvera un error.

In [14]:
left = pd.DataFrame( {'key':['k0', 'k1', 'k2', 'k3'],
 'A':['A0', 'A1', 'A2', 'A3'],
 'B':['B0', 'B1', 'B2', 'B3']
 })

right = pd.DataFrame( {'key2':['k0', 'k1', 'k2', 'k3'],
 'C':['A0', 'A1', 'A2', 'A3'],
 'D':['B0', 'B1', 'B2', 'B3']
 })

In [16]:
left.merge(right, left_on='key', right_on='key2')

  key   A   B key2   C   D
0  k0  A0  B0   k0  A0  B0
1  k1  A1  B1   k1  A1  B1
2  k2  A2  B2   k2  A2  B2
3  k3  A3  B3   k3  A3  B3

Que pasa si no existe una fila en un data frame que en el otro si existe?
Pandas no imrimira  esta fila en el resultado.

In [17]:
left = pd.DataFrame( {'key':['k0', 'k1', 'k2', 'k3'],
 'A':['A0', 'A1', 'A2', 'A3'],
 'B':['B0', 'B1', 'B2', 'B3']
 })

right = pd.DataFrame( {'key2':['k0', 'k1', 'k2', 'k9'],
 'C':['A0', 'A1', 'A2', 'A3'],
 'D':['B0', 'B1', 'B2', 'B3']
 })

En este caso no imprimira k3 ni k9, pues no se encuentran en ambos dataframes.

In [18]:
left.merge(right, left_on='key', right_on='key2')

  key   A   B key2   C   D
0  k0  A0  B0   k0  A0  B0
1  k1  A1  B1   k1  A1  B1
2  k2  A2  B2   k2  A2  B2

Ahora con merge simularemos un right o left join

Left Join: Tomar todas las columnas de izquierda y tomar las de derecha que estan contenidas en izquierda. (Izquierda mas interseccion derecha).

Right Join: Tomar todas las columnas de derecha y tomar las de izquierda que estan contenidas en derecha. (Derecha mas interseccion izquierda).

Ejemplo vamos a tener dos dataframes con una fila diferente.

In [19]:
left = pd.DataFrame( {'key':['k0', 'k1', 'k2', 'k3'],
 'A':['A0', 'A1', 'A2', 'A3'],
 'B':['B0', 'B1', 'B2', 'B3']
 })

right = pd.DataFrame( {'key2':['k0', 'k1', 'k2', 'k9'],
 'C':['A0', 'A1', 'A2', 'A3'],
 'D':['B0', 'B1', 'B2', 'B3']
 })

En este caso el parametro how nos dira si haremos un 'left' o 'right' join.

In [20]:
left.merge(right, left_on='key', right_on='key2', how='left')

  key   A   B key2    C    D
0  k0  A0  B0   k0   A0   B0
1  k1  A1  B1   k1   A1   B1
2  k2  A2  B2   k2   A2   B2
3  k3  A3  B3  NaN  NaN  NaN

### JOIN

Join nos permite realizar operaciones con conjuntos como lo hicimos con merge con base al indice, por ello crearemos dos dataframes con los indices bien especificados.

In [3]:
left = pd.DataFrame( {
 'A':['A0', 'A1', 'A2', 'A3'],
 'B':['B0', 'B1', 'B2', 'B3']
 },
 index=['k0', 'k1', 'k2', 'k3'])

right = pd.DataFrame( {
 'C':['A0', 'A1', 'A2', 'A3'],
 'D':['B0', 'B1', 'B2', 'B3']
 },
 index=['k0', 'k1', 'k2', 'k9'])

In [4]:
left.join(right, how="outer")

      A    B    C    D
k0   A0   B0   A0   B0
k1   A1   B1   A1   B1
k2   A2   B2   A2   B2
k3   A3   B3  NaN  NaN
k9  NaN  NaN   A3   B3

In [5]:
left.join(right, how="left") # solo podemos cambiar el left por right y ya es un right join

     A   B    C    D
k0  A0  B0   A0   B0
k1  A1  B1   A1   B1
k2  A2  B2   A2   B2
k3  A3  B3  NaN  NaN

In [6]:
left.join(right, how="inner")

     A   B   C   D
k0  A0  B0  A0  B0
k1  A1  B1  A1  B1
k2  A2  B2  A2  B2

Join a diferencia del merge, utilizará los índices de nuestros DataFrame para realizar el match y no a las columnas.