In [1]:
import pandas as pd

## Series

Las series son una estructura de datos de pandas basado en numpy, y manejan información en una dimension

In [16]:
psg_players = pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi'],
                        index = [1, 7, 10, 30])

In [3]:
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

Podemos acceder a elementos por indice especifico

In [17]:
psg_players[7]

'Mbappe'

Si no se especifian indices, se indexa en 0

In [4]:
psg_players = pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi'])

In [5]:
psg_players

0     Navas
1    Mbappe
2    Neymar
3     Messi
dtype: object

Podemos inicializar una series a partir de un diccionario de python

In [6]:
dicti = {1:'Navas', 7:'Mbappe', 10:'Neymar', 30:'Messi'}
pd.Series(dicti)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

Debido a que esta basado en un arreglo de numpy, se pueden acceder por slicing

In [7]:
psg_players[0:3]

0     Navas
1    Mbappe
2    Neymar
dtype: object

## DataFrame

DataFrame es una estructura matricial que nos permite almacenar información en 2 dimensiones.
Si se omite el parametro de indices entonces pandas le asignara una indexación basada en 0

In [8]:
dicti = {
    'Jugador': ['Nava', 'Mbappe', 'Neymar', 'Messi'],
    'Altura': [183, 175, 170, 165],
    'Goles': [2, 200, 250, 300]
}

In [11]:
df_players = pd.DataFrame(dicti, index=[1, 7, 10, 30])

In [12]:
df_players

   Jugador  Altura  Goles
1     Nava     183      2
7   Mbappe     175    200
10  Neymar     170    250
30   Messi     165    300

A continuacion se muestran algunas propiedades comunes que arrojan informacion de los dataframes

In [13]:
df_players.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

In [14]:
df_players.index

Int64Index([1, 7, 10, 30], dtype='int64')

## Creacion de dataframe del equipo granada FC

Primero cargamos la información a un diccionario

In [23]:
info = {
'Jugador':['Luis Suárez','Jorge Molina', 'Antonio Puertas', 'Germán Sánchez', 'Luis Milla', 'Luís Manuel Arantes Maximiano'],

'Posición':['Delantero', 'Delantero', 'Centrocampista', 'Defensa', 'Centrocampista', 'Portero'],

'Número':[9, 23, 10, 6, 5, 1],

'Altura':[185.0, 187.0, 185.0, 187.0, 175.0, 190.0],

'Goles':[7, 7, 5, 2, 2, 0],
}

Hacemos el DataFrame y asignamos como indice el numero del jugador

In [24]:
data = pd.DataFrame(info, index = info['Número'])

In [22]:
data

                          Jugador        Posición  Número  Altura  Goles
9                     Luis Suárez       Delantero       9   185.0      7
23                   Jorge Molina       Delantero      23   187.0      7
10                Antonio Puertas  Centrocampista      10   185.0      5
6                  Germán Sánchez         Defensa       6   187.0      2
5                      Luis Milla  Centrocampista       5   175.0      2
1   Luís Manuel Arantes Maximiano         Portero       1   190.0      0