In [1]:
import pandas as pd
import numpy as np

In [2]:
dicti = {
    'Col1':[1,2,3, np.nan],
    'Col2':[4,np.nan,6,7],
    'Col3':['a', 'b', 'c', None]
}

In [3]:
df = pd.DataFrame(dicti)

In [4]:
df

   Col1  Col2  Col3
0   1.0   4.0     a
1   2.0   NaN     b
2   3.0   6.0     c
3   NaN   7.0  None

Ahora mostraremos las posiciones en las que tenemos valores null o similares

In [5]:
df.isnull()

    Col1   Col2   Col3
0  False  False  False
1  False   True  False
2  False  False  False
3   True  False   True

Demosle valores mas utiles como ceros y unos

In [6]:
df.isnull()*1

   Col1  Col2  Col3
0     0     0     0
1     0     1     0
2     0     0     0
3     1     0     1

Ahora, podemos darle un valor personalizado a esos nulos?, si con la funcion fillna()

En este caso lo llenaremos con el promedio

In [9]:
df.fillna(df.mean())

C:\Users\PC\AppData\Local\Temp/ipykernel_4612/634187881.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.fillna(df.mean())

   Col1      Col2  Col3
0   1.0  4.000000     a
1   2.0  5.666667     b
2   3.0  6.000000     c
3   2.0  7.000000  None

Aunque, tambien podemos eliminar esas filas que estan malitas

In [10]:
df.dropna()

   Col1  Col2 Col3
0   1.0   4.0    a
2   3.0   6.0    c

Y las columnas que estan malitas igual , pero solo borrar los elementos de la columa que esta mal

In [13]:
df.dropna(subset=["Col2"])

   Col1  Col2  Col3
0   1.0   4.0     a
2   3.0   6.0     c
3   NaN   7.0  None